/* Imported Font*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* Variables */

:root {
  --main-color: #74bcff;
  --secondary-color: #a2eaff;
  --light-color: #d1f0ff;
  --animate-speed: 3s;
}

/* Body Styles */

body {
  background: linear-gradient(
    to right,
    var(--light-color),
    var(--secondary-color)
  );
  font-family: "Roboto", sans-serif;
}

/* Container */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Item */

.item {
  width: 35vh;
  height: 35vh;
  background-color: var(--main-color);
  transition: all 4s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover {
  border-radius: 50%;
  transform: scale(2) rotate(360deg);
}

/* Inner Item */

.inner-item {
  width: 5vh;
  height: 5vh;
  background: #fff;
  border-radius: 50%;
  transition: all 4s ease-in-out;
}

.inner-item:hover {
  border-radius: 0%;
  transform: scale(1.5) rotate(360deg);
  opacity: 0;
}

/* Heading */

.heading {
  position: absolute;
  top: 180px;
  animation: heading var(--animate-speed) forwards ease-in-out 1.5s;
  color: #000;
}

/* Animation for heading */

@keyframes heading {
  to {
    transform: translateX(1200px);
    opacity: 0;
  }
}

/* Media Queries */

@media (max-width: 767px) {
  .item {
    width: 20vh;
    height: 20vh;
  }
  .inner-item {
    width: 3vh;
    height: 3vh;
  }
  .heading {
    font-size: 1.25rem;
    top: 250px;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 1.25rem;
    top: 200px;
  }
}

@media (max-width: 300px) {
  .heading {
    font-size: 1rem;
    top: 200px;
  }
}
